QPushButton {
  border-radius: 25px;
  /*border: 1px solid rgba($red, $blue, $green, 0.8);*/
  background-color: rgba(51, 99, 87, 0.3);
}

QPushButton#mute-button, #volume-up {
  border-radius: 15px;
}

QPushButton#menu-button, #shuffle-button, #repeat-button, #playlist-button {
  border-radius: 15px;
}

QPushButton:hover {
  /*border: 1px solid rgba(66, 128, 113, 0.3);*/
  background-color: rgba(66, 128, 113, 0.3);
}

QPushButton:focus {
 border: 1px solid rgb(40, 79, 69);
}

QLabel#track-title {
  font-weight: bold;
  font-size: 20px;
}

QLabel#track-artist {
  font-size: 15px;
}

QLabel#track-album {
  font-size: 15px;
}

QLabel#left-timestamp, #current-timestamp {
  font-size: 12px;
}

QToolTip {
    background-color: rgba(51, 99, 87, 0.3);
    border: 1px solid rgb(51, 99, 87);
    padding: 3px;
    /*border-radius: 10px;*/
    color: white;
    /*opacity: 200;*/
}