QPushButton {
  border-radius: 25px;
  /*border: 1px solid rgba(95, 182, 84, 0.8);*/
  background-color: rgba(95, 84, 182, 0.3);
}

QPushButton#mute-button, #volume-up {
  border-radius: 15px;
}

QPushButton#menu-button, #shuffle-button, #repeat-button, #playlist-button {
  border-radius: 15px;
}

QPushButton:hover {
  border: 1px solid rgba(95, 84, 182, 0.7);
  background-color: rgba(95, 84, 182, 0.4);
}

QPushButton:focus {
 border: 1px solid rgba(95, 84, 182, 0.7);
}

QLabel#track-title {
  font-weight: bold;
  font-size: 20px;
}

QLabel#track-artist {
  font-size: 15px;
}

QLabel#track-album {
  font-size: 15px;
}

QLabel#left-timestamp, #current-timestamp {
  font-size: 12px;
}

QToolTip {
    background-color: rgba(95, 84, 182, 0.3);
    border: 1px solid rgb(95, 84, 182);
    padding: 3px;
    /*border-radius: 10px;*/
    color: white;
    /*opacity: 200;*/
}
