QLabel#track-title {
  font-weight: bold;
  font-size: 20px;
}

QLabel#track-artist {
  font-size: 15px;
}

QLabel#track-album {
  font-size: 15px;
}

QLabel#left-timestamp, #current-timestamp {
  font-size: 12px;
}

QToolTip {
    background-color: rgba($red_bg, $green_bg, $blue_bg, $alpha_bg_normal);
    border: 1px solid rgb($red_bg, $green_bg, $blue_bg);
    padding: 3px;
    color: white;
}