QPushButton {
  border-radius: 15px;
  background-color: rgba(51, 99, 87, 0.3);
}

QPushButton:hover {
  /*border: 1px solid rgba(66, 128, 113, 0.3);*/
  background-color: rgba(66, 128, 113, 0.3);
}

QPushButton:focus {
 border: 1px solid rgb(40, 79, 69);
}

QToolTip {
    background-color: rgba(51, 99, 87, 0.3);
    border: 1px solid rgb(51, 99, 87);
    padding: 3px;
    /*border-radius: 10px;*/
    color: white;
    /*opacity: 200;*/
}